@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.button {
  font-family: Raleway,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 1160px;
  margin: 0 auto;

  outline: 1px solid forestgreen;
}

/* Page header */
.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100%;

  outline: 1px solid violet;
}

.user-nav,
.site-nav {
  margin: 0;
  padding: 0;

  outline: 1px solid violet;
}

.user-nav {
  width: 230px;
  margin-left: 26px;
}

.site-search-form {
  width: 517px;

  outline: 1px solid violet;
}

.button-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
}

.user-link {
  color: #000000;
  text-decoration: none;
}

.site-nav {
  width: 471px;
}

.site-nav-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.goods-dropdown-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* Main */
.main-container {
  flex-grow: 1;
}

/* Promo slider */
.promo-slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item {
  display: flex;
  justify-content: space-between;
}

.promo-item-image {
  outline: 1px solid red;
}

.promo-slider-column {
  width: 560px;
  outline: 1px solid red;
}

.promo-item-slogan {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
 }

.promo-item-features {
  display: flex;
}

.promo-item-feature-box {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;

  outline: 1px solid blue;
}

.promo-item-feature-value {
  margin-left: 0;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
 }

.promo-item-feature-title {
  font-size: 16px;
  line-height: 30px;
 }

 /* Categories list */
.goods-classes-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-classes-item {
  width: 160px;
  padding: 0;
  background-color: #FFE17F;

  outline: 1px solid red;
}

.goods-classes-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

 /* Services tabs */
.services-wrapper {
  background-color: #F0F0F0;
}

.services {
  display: flex;
}

.services-tabs {
  width: 287px;
}

.services-tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tabs-item {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;

  outline: 1px solid red;
}

.services-tabs-item-current {
  color: #FFE17F;
  background-color: #000000;
}

.services-articles {
  width: 873px;
  padding-right: 63px;
  padding-left: 116px;
  box-sizing: border-box;

  outline: 1px solid red;
}

.services-articles-list {
  margin: 0;
  padding: 0;
}

.services-article {
  width: 475px;
  padding-right: 254px;
  outline: 1px solid violet;
}

.services-article-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

 /* Delivery order */
.delivery-order {
  background-color: #F0F0F0;
}

.button-delivery-order {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

 /* About us, Contacts */
.main-columns {
  display: flex;
  justify-content: space-between
}

.about {
  width: 520px;
  margin-right: 108px;

  outline: 1px solid red;
}

.contacts {
  width: 532px;

  outline: 1px solid red;
}

.about-title,
.contacts-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-deliveries-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

 /* Newsletter subscription */
.newsletter-wrapper {
  background-color: #F0F0F0;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newsletter-title {
  width: 348px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

  outline: 1px solid blue;
}

.newsletter-description {
  width: 560px;

  outline: 1px solid blue;
}

.newsletter-form {
  width: 810px;

  outline: 1px solid blue;
}

.newsletter-benefit {
  width: 160px;

  outline: 1px solid blue;
}

.button-newsletter {
  background-color: #F0F0F0;
}

 /* Page Footer */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer-logo {
  display: block;
  width: 100%;

  outline: 1px solid blue;
}

.page-footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  outline: 1px solid blue;
}

.page-footer-address-text {
  width: 239px;
}

.page-footer-address-phone {
  width: 174px;
  color: #FFFFFF;
}

.page-footer-nav {
  display: flex;
  justify-content: space-between;
  width: 444px;
  list-style: none;
  margin-left: 112px;
  margin-right: 190px;
  padding: 0;

  outline: 1px solid blue;
}


.page-footer-nav-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.social-media {
  width: 150px;
  margin-left: auto;
  margin-right: 330px;
  padding: 0;
  list-style: none;

  outline: 1px solid blue;
}


/* Inner page */
.main-inner {
  color: #000000;
}

.inner-header {
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 21px;
  background-color: #FFFFFF;

  outline: 1px solid red;
}

.inner-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumb-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

/* Catalog */
.catalog-wrap {
  background-color: #F0F0F0;
}

.catalog-container {
  display: flex;
}

.filters {
  width: 320px;
  padding-left: 60px;
  padding-right: 40px;
  box-sizing: border-box;

  outline: 1px solid violet;
}

.sort-products-container {
  width: 840px;

  outline: 1px solid violet;
}

/* Filters, Sort*/
.filters-title,
.sort-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter-control {
  font-size: 16px;
  line-height: 19px;
}

.sort {
  padding-right: 40px;
  padding-left: 40px;
}

.sort-control {
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
}

/* Products */
.products {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #FFFFFF;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.button-show-more {
  font-family: Raleway,sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-prev,
.pagination-next {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
